.slide-down-enter {
  opacity: 0.01;
  transform-origin: bottom;
  transform: scaleY(0);
}

.slide-down-enter.slide-down-enter-active {
  transform: scaleY(1);
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width: 860px;
  margin:10px auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

main {
}
