.slide-down-enter {
  box-sizing: border-box;
  max-height: 0;
  transition: max-height 2s ease-out;
  overflow: hidden;
}

.slide-down-enter.slide-down-enter-active {
  box-sizing: border-box;
  max-height: 55px;
  transition: max-height .5s linear;
}

.list-group-item {
  padding: 0 1.25rem;
  line-height: 50px;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  width: 860px;
  margin:10px auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

main {
}
